.header{
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.header a {
    width: 4%;
    margin-left: 10%;
    text-decoration: none;
    color: #252525;
    align-items: center;
    flex-direction: row-reverse;
}
.header a:hover{
    color: #6e6ee6;
}
.logo-img{
    width: 5%;
}
.top-icon-img{
    width: 100%;
    position: relative;
    left: 98%;
    top: 20%;
    z-index: 12;
}
.hover-img{
    width: 95%;
}
.hover-img:hover{
    z-index: 15;
}

.menu-box{
    /* border: 1px solid red; */
    width: 95%;
    margin: 0 auto;
    margin-top: 15px;
}   
.dropdown{
    border: 1px solid #000000;
    width: 23%;
}
.dropdown:focus{
    border: none;
}
.btn:focus{
    border: 1px solid #fcfc1c;
    border-radius: 0;
}
.dropdown-menu{
    width: 100%;
    height: 220px;
    overflow-y: scroll;
    font-size: 15px;
}
#CHOOSE-REGION{
    opacity: 0.5;
    height: 60px;
    border-top: 1px solid #e0e0e0;
    cursor: default;
}
#CHOOSE-REGION:hover{
    background-color: #fff;
}
.lists{
    height: 50px;
    color: #000000;
    transition: 0.2s;
}
.lists:hover{
    background-color: #fffd96;
}
.dropdown-item:active{
    color: #000000;
}
.location-img{
    color: #0000ff;
    height: 60px;
    border-bottom: 1px solid #e0e0e0;
}
.location-img:hover{
    color: #0000ff;

}
.current-location-img{
    width: 9%;
    margin-bottom: 4px;
}
.location-icon{
    width: 8%;
    margin-bottom: 4px;
}
.search-button{
    width: 4%;
    height: 39px;
    border: none;
    background-color: #fffb00;
    margin-right: 25px;
}
.search-icon{
    width: 100%;
}
#input-search{
    width: 59%;
    height: 39px;
    border-radius: 0;
    padding-left: 4px;
    margin-left: 10px;
    outline: none;
}
#input-search:focus{
    border: 1px solid #fcfc1c;
}
.plus-icon{
    width: 20%;
    margin-bottom: 3px;
}
.plus-button{
    font-weight: bold;
    width: 8%;
    height: 43px;
    border: 6px solid;
    background-color: #ffff;
    border-left-color: #fcfc1c;
    border-top-color: #87edff;
    border-right-color: #307adb;
    border-bottom-color: #307adb;
    border-radius: 23px;
}
.menu-box a{
    /* border: 1px solid red; */
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 13px;
    padding: 8px;
    margin-right: 22px;
}
.menu-box a:hover{
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}
.menu-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bar-links{
    border-top: 1px solid #6b6b6b;
    width: 95%;
    margin: 0 auto;
    display: flex;
}
.items{
    /* border: 1px solid red;   */
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.items a{
    text-decoration: none;
    font-size: 14px;
     color: black;
     display: block;
}
.items a:hover{
    color: #0a535a;
}
.dropdown-toggle{
    font-size: 13px;
    font-weight: bold;
}
.dropdown-toggle:focus{
    border: none;
}
.menu-list{
    overflow: visible;
}

.hero-box{
    background-image: linear-gradient(#17284e, #085c5d);;
    width: 95%;
    margin: 0 auto;
    /* background-image: url(images/hero-pic.png); */
    background-repeat: no-repeat;
    height: 125px;
}
.hero-img{
    width: 40%;
    margin-top: 20px;
    margin-left: 10%;
}
.hero-text{
    display: flex;
    justify-content: center;
    gap: 10%;
    position: relative;
    bottom: 41%;
}
.hero-text h3 , p{
    font-size: 14px;
}
.hero-text p{
    color: #fbffc8;
    margin-top: 13px;
}
.hero-box h2{
    font-size: 13px;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 45%;
}
.hero-text h3{
    /* border: 1px solid red; */
    text-align: center;
    padding: 7px;
    color:  #ffff;
    border-radius: 3px;
    background-color: #167475;
}
.sponsored-img{
    position: absolute;
    bottom: 47%;
    left: 89%;
}
#sponsored-para{
    color: #ffffff;
    position: absolute;
    bottom: 44%;
    right: 12%;
    z-index: 100;
    font-size: 10px;
}
.carousel{
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 30px;
    width: 95%;
}

.fs-5{
    margin-left: 30px;
}
.categories-box{
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}
.categories-box div{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}
.categories-box div a{
    text-decoration: none;
    color: #171717;
}
.categories-box h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}
.categories-img{
    width: 55%;
}
/* .card-img-top{
    width: 50%;
} */

.box{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: 0 auto;
    /* margin-top: 3%; */
    margin-bottom: 3%;
}
.box img{
    width: 25%;
}
.box a{
    /* border: 1px solid red; */
    width: 11%;
    text-decoration: none;
    font-weight: bold;
}

.heart-img{
    width: 7%;
    position: relative;
    left: 88%;
    bottom: 50%;
}
.item-img{
    width: 100%;
    height: 160px;
}
.card-container{
    /* border: 1px solid red; */
    width: 93%;
    height: 375px;
    margin: 0 auto;
    border-bottom: 9px solid #e6e6e6;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2.6%;    
}
.card-container div{
    border: 1px solid #b3b3b3;
    width: 23%;
    height: 340px;
}
.card-container h3{
    font-size: 15px;
    margin-top: 6%;
}
.card-container h3,p{
    padding-left: 10px;
    color: #085c5d;
}
.borders-bottom{
    border: none;
}
.card-img{
    height: 160px;
}
.heart-icon{
    width: 7%;
    position: relative;
    left: 88%;
    bottom: 48%;
}

.heart-icon-img{
    width: 7%;
    position: relative;
    left: 88%;
    bottom: 53%;
}
.heart-pic{
    width: 7%;
    position: relative;
    left: 88%;
    bottom: 43%;
}
.heart-icons{
    width: 7%;
    position: relative;
    left: 88%;
    bottom: 38%;
}
.speed-meter{
    width: 5%;
    margin-left: 5px;
    padding-bottom: 5px;
}

.foot-img{
    width: 100%;
}
.footer-img{
    width: 100%;
}
.footer-container{
    border: 1px solid #fafafa;
    background-color: #f7f8f9; 
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}
.footer-container div{
    /* border-: 1px solid red;  */
    width: 30%;
}
.fw-bold{
    font-size: 13px;
}
.foot-box{
    border-left: 3px solid #d3d3d3;
    padding-left: 3%;
    margin-top: 25px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-container a{
    width: 100%;
}
.foot-box div {
    /* border: 1px solid red;  */
    width: 100%;
    display: flex;
    gap: 10px;
}


@media only screen and (max-width: 600px) {
    .header{
        display: flex;
        justify-content: space-around;
    }
    .logo-img{
        width: 8%;
    }
    .top-icon-img{
        position: relative;
        left: 0%;
    }
    .header a {
        width: 8%;
    }
    .hover-img{
        display: none;
    }

    .dropdown{
        width: 80%;
    }
    .dropdown-menu{
        font-size: 10.6px;
    }
    #input-search{
        width: 40%;
        height: 37px;
    }
    .search-button{
        width: 16%;
        height: 37px;
        margin-right: 3px;
    }
    .plus-button{
        width: 40%;
    }
    .menu-box a{
    margin-right: 0px;
    }

    .nav-bar-links{
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .items a{
        font-size: 13.7px;
    }
    .items a:hover{
        background-color: #fcfcb6;
        padding: 1px;
    }
    .items{
        display: flex;
        flex-wrap: wrap;
        gap: 8.5px;
    }

    
    .hero-text{
        position: relative;
        bottom: 23%;
    }
    .sponsored-img{
        width: 9%;
        bottom: 60%;
        left: 87%;
    }
    #sponsored-para{
        font-size: 8px;
        bottom: 58%;
        left: 75%;    
    }
    
    .box a{
        width: 25%;
    }
    .box img{
        width: 18%;
    }
    .categories-box div{
        width: 25%;
    }

    .card-container{
        height: 735px;
    }
    .card-container div {
        width: 47%;
    }

    .foot-box{
        display: none;
    }
    .footer-container div {
        width: 100%;
    }
    .fs-3{
        margin-left: 6px;
    }
}



@media only screen and (max-width: 520px) {
    .sponsored-img{
        width: 9%;
        bottom: 57%;
        left: 87%;
    }
    #sponsored-para{
        font-size: 8px;
        bottom: 55%;
        left: 73%;    
    }
}