.header{
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.header a {
    width: 4%;
    margin-left: 10%;
    text-decoration: none;
    color: #252525;
    align-items: center;
    flex-direction: row-reverse;
}
.header a:hover{
    color: #6e6ee6;
}
.logo-img{
    width: 5%;
}
.top-icon-img{
    width: 100%;
    position: relative;
    left: 98%;
    top: 20%;
    z-index: 12;
}
.hover-img{
    width: 95%;
}
.hover-img:hover{
    z-index: 15;
}
